.accordeon__item {
    color: $white;
    margin-bottom: 33px;
    font-size: 14px;
    list-style-type: none;
}

.accordeon__trigger {
    font-size: 14px;
    font-family: 'Gagalin';
    color: $white;
    margin-bottom: 12px;
    text-decoration: none;
}


.accordeon__item-image {
    height: 100px;
    width: 100px;
    max-width: 100px;
	min-width: 100px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 40px;
	border-radius: 50%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;;
}
