.best {
    background: url(/img/best__section/bg.png);
    background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
    
    .section__title {
        margin-bottom: rem(55px);
        @include phones {
            margin-bottom: rem(20px);
        }
    }
        @include phones {
            background: url(/img/best__section/bgphone.jpg);
            
        }
}