.features__list {
    display: flex;
    text-align:center;
    .features__img {
        margin-bottom: rem(25px);
    }
    .features__item {
        display: flex;
        flex-direction: column;
        padding: 0 rem(10px);
        margin-bottom: rem(40px);
    }
    
    .features__title {
        font-family: 'Lifehack';
        font-size: rem(24px);
        color: $dark;
        line-height: 28px;
        margin-bottom: rem(15px);
        font-weight: 500;
    }
    .features__text {
        
        font-size: rem(14px);
        line-height: 24px;
    }
}

