.menu {
	margin-right: rem(13px);
		@include phones {
			display: none;
		}
}
.menu__item {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin: 0 rem(12px);
	}
	&:last-child:after {
		display: none;
	}
}

 
.menu__link {
	display: inline-block;
	color: $white;
	font-size: rem(13px);
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: middle;
	line-height: 1.42;
	transition: .5s;
	border-bottom: 1px solid transparent;
	&:hover {
		border-bottom: 1px solid $white;
	}
}

.order__link {
    color: $white;
    background-color: #e45028;
    padding: .625rem 1.0625rem;
    border-radius: 5px;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
}