.reviews {
    width: 100%;
    background: #000;
}

.reviews__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
}

.reviews__item {
    height: 50%;
    width: 25%;
    background: center center /cover no-repeat;
    position: relative;

    &:hover {
        .reviews__wrap {
            opacity: 1;
        }
    }
}

.reviews__wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, .5);
    opacity: 0;
    padding: 50px 20px 0;
}

.reviews__title {
    font-family: "Gagalin";
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 20px;
}

.reviews__text {
	font-weight: 300;
    margin-bottom: 20px;
    color: #fff;
}
.reviews__button {
	display: inline-block;
	font-size: 13px;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	padding: 3px 15px;
	background-color: $dark;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	color: $white;
	transition: .4s;
	&:hover {
		background-color: darken($dark, 7%);
	}
}
