.socials {
    position: relative;
    top: 50%;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: rem(20px);
}

.socials__link {
    max-width: rem(20px);
    min-width: rem(20px);
    &:hover {
        .socials__icon {
            
            opacity: 1;
        }
    }
}
.socials__icon {
    width: rem(20px);
    height: rem(20px);
    fill: $white;
    opacity: .5;
    transition: .5s;
}