.team {
    background: url(/img/team__section/SBS_1255-X2.jpg) center top /cover no-repeat;
    position: relative;
}

.team__content {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background-color: rgba(52,55,57, .9);
    padding: rem(100px) rem(65px) 0 rem(65px);

    @include phones {
        left: 0;
        position: relative;
        padding: 0;
        text-align: center;
    }
      
}