.footer {

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $black;
	text-align: left;
	padding: rem(7px) 0;
}

.footer__container {
    flex-direction: row;
        @include phones {
            flex-direction: column;
        }
}

.footer__right {
    text-align: right;
}
.footer__left, .footer__right {
    width: 50%;
    margin: 0;
    @include phones {
        width: 100%;
        text-align: center;
        margin-bottom: rem(10px);
    }
}



.footer__left-address {
    color: $white;
    font-size: rem(14px);
    line-height: 24px;
    font-family: 'Ubuntu';
    font-weight: 300;
    margin-bottom: rem(5px);
}

.footer__left-phone {
    color: $orange;
    font-weight: bold;
}