.order {
    background: url(/img/order__section/1.jpg) center center/cover no-repeat;
    .section__title {
        margin-bottom: rem(45px);
            @include phones{
                font-size: rem(32px);
                margin-bottom: rem(4px);
            }
    }
}